{
    "api-cors-header": {{docker_api_cors_header | default('') | to_json}},
    "authorization-plugins": {{docker_authorization_plugins | default('[]') }},
    "bip": {{docker_bip | default('') | to_json}},
    "bridge": "{{docker_bridge | default('')}}",
    "cgroup-parent": "{{docker_cgroup_parent | default()}}",
    "cluster-store": "{{docker_cluster_store | default()}}",
    "cluster-store-opts": {{docker_cluster_store_opts | default('{}') }},
    "cluster-advertise": "{{docker_cluster_adverties | default() }}",
    "debug": {{docker_debug | default('false')}},
    "default-gateway": "{{docker_default_gateway | default()}}",
    "default-gateway-v6": "{{docker_default_gateway_v6 | default()}}",
    "default-runtime": "{{docker_default_runtime | default('runc')}}",
{#  due to issue https://github.com/docker/docker/pull/25566
    "default-ulimits": {{docker_default_ulimits | default('{}')}},
#}
    "disable-legacy-registry": {{docker_disable_legacy_registy | default('false')}},
    "dns": {{docker_dns | default('[]')}},
    "dns-opts": {{docker_dns_opts | default('[]')}},
    "dns-search": {{docker_dns_search | default('[]')}},
    "exec-opts": {{docker_exec_opts | default('[]')}},
    "exec-root": "{{docker_exec_root | default('')}}",
    "fixed-cidr": "{{docker_fixed_cidr | default('')}}",
    "fixed-cidr-v6": "{{docker_fixed_cidr_v6 | default('')}}",
    "graph": "{{docker_graph | default('')}}",
    "group": "{{docker_group | default('docker')}}",
    "hosts": {{docker_hosts | default('[]')}},
    "icc": {{docker_icc | default('false')}},
    "insecure-registries": {{docker_insecure_registries | default('[]') }},
    "ip": "{{ docker_ip| default('0.0.0.0')}}",
    "iptables": {{docker_iptables | default('true')}},
    "ipv6": {{docker_ipv6 | default('false')}},
    "ip-forward": {{docker_ip_forward | default('true')}},
    "ip-masq": {{docker_ip_masq | default('true')}},
    "labels": {{docker_labels | default('[]')}},
    "live-restore": {{docker_live_restore | default('true')}},
    "log-driver": "{{docker_log_driver | default('json-file')}}",
    "log-level": "{{docker_log_level | default('')}}",
    "log-opts": {{docker_log_opts | default('{}')}},
    "max-concurrent-downloads": {{docker_max_conconurrent_downloads | default(3)}},
    "max-concurrent-uploads": {{docker_max_concurrent_uploads | default(5)}},
    "mtu": {{docker_mtu | default(0)}},
    "oom-score-adjust": {{docker_oom_score_adjust | default(-500)}},
    "pidfile": "{{docker_pidfile | default('')}}",
    "raw-logs": {{docker_raw_logs | default('false')}},
    "registry-mirrors": {{docker_registry_mirrors | default('[]')}},
    "runtimes": {{docker_runtimes | default('{}')}},
    "selinux-enabled": {{docker_selinux_enabled | default('false')}},
    "storage-driver": "{{docker_storage_driver | default('')}}",
    "storage-opts": {{docker_storage_opts | default('[]')}},
    "swarm-default-advertise-addr": "{{docker_swarm_default_advertise_addr | default('')}}",
    "tls": {{docker_tls | default('false') | to_json }},
    {% if docker_tls %}
    "tlscacert": "{{docker_tlscacert | default('')}}",
    "tlscert": "{{docker_tlscert | default('')}}",
    "tlskey": "{{docker_tlskey | default('')}}",
    "tlsverify": {{docker_tlsverify | default('false')}},
    {% endif -%}
    "userland-proxy": {{docker_userland_proxy | default('false')}},
    "userns-remap": "{{docker_userns_remap | default('')}}"
}
